
/* Resetando algumas margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #800080;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 2rem;
}

section {
    background: rgb(184, 156, 213);
    padding: 80px 20px; /* Organizado o padding */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chamada-texto {
    text-align: center;
    margin-bottom: 20px;
}

.chamada-texto h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.chamada-texto p {
    font-size: 1.2rem;
    color: #555;
}

iframe {
    max-width: 100%;
    height: auto;
}
